@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/6205248.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.custom-scrollbar {

    scrollbar-width: initial;
    scrollbar-color: #121212 #555;

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #555;
    }

    ::-webkit-scrollbar-thumb {
        background: #121212;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #242424;
    }
}

/* 
::-webkit-scrollbar {
    cursor: pointer;
    scrollbar-width: initial;
}

::-webkit-scrollbar-track {
    cursor: pointer;
    background: #555;
}

::-webkit-scrollbar-thumb {
    background: #121212;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #242424;
} */